DB_HOST=localhost
DB_PORT=5432
DB_USER=klankern_user
DB_PASSWORD=klankern_password
DB_NAME=klankern_db

#----------------------------------------------------------------------
# Email (MailerSend SMTP)
#----------------------------------------------------------------------
MAIL_FROM_ADDRESS="noreply@yourdomain.com"
MAILERSEND_SMTP_HOST="smtp.mailersend.net"
MAILERSEND_SMTP_PORT="587"
MAILERSEND_SMTP_SECURE="false"
MAILERSEND_SMTP_USER="your_mailersend_username"
MAILERSEND_SMTP_PASS="your_mailersend_password"

#----------------------------------------------------------------------
# Application URL
#----------------------------------------------------------------------
NUXT_PUBLIC_APP_BASE_URL="http://localhost:3000"