/* Basic styles for the application */

:root {
    color-scheme: light dark;
}

*:focus-visible {
    outline: var(--outline-base);
    outline-offset: var(--outline-offset);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
.button {
    background: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    min-width: 44px;
    min-height: 44px;
    padding: var(--spacing-base);
    text-transform: uppercase;

    &:focus-visible,
    &:hover {
        text-decoration: underline;
    }
}
