/* Basic styles for the application */

:root {
    color-scheme: light dark;
}

*:focus-visible {
    outline: var(--outline-base);
    outline-offset: var(--outline-offset);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: var(--font-serif);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
.button {
    background: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    min-width: 44px;
    min-height: 44px;
    padding: var(--spacing-base);
    text-transform: uppercase;

    &:focus-visible,
    &:hover {
        text-decoration: underline;
    }
}

form {
    background-color: var(--color-primary);
    color: var(--color-text-invert);
    padding: var(--spacing-base);
}

ol:not(:first-child),
ul:not(:first-child),
p:not(:first-child) {
    margin-top: var(--spacing-md);
}

ol,
ul {
    margin-left: 4ch;
}

ul {
    list-style-type: square;
}
