/* Ref: https://itnext.io/basic-css-resets-to-apply-in-every-app-9bd724dc4f49 */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button {
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

input,
button,
em,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

sub,
sup {
    line-height: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

fieldset {
    border: none;
}
