:root {
    /* Colors */
    --color-primary: light-dark(#1890ff, #69c0ff);
    --color-secondary: light-dark(#52c41a, #95de64);
    --color-background: light-dark(#ffffff, #141414);
    --color-text: light-dark(#333333, #ffffffd9);
    --color-text-light: light-dark(#666666, #ffffffa6);
    --color-border: light-dark(#d9d9d9, #434343);
    --color-error: light-dark(#620404, #d43232);

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
    --spacing-base: var(--spacing-sm) var(--spacing-md);

    --font-family:
        Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
        source-sans-pro, sans-serif;

    --border-base: 1px solid var(--color-border);
    --outline-base: 2px solid var(--color-primary);
    --outline-offset: 2px;
}
